.answerButton {
  color: #000;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2vw;
  font-family: "NexonMaplestory";
  letter-spacing: 1.5px;
  box-shadow: 0 0 0 1px #f3d48b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 15px 0 0 #7c563f, 0 15px 0 1px rgba(0, 0, 0, 0.4),
    0 15px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #f2d388;
}
.answerImg {
  width: 10vw;
  border-radius: 10px;
  box-shadow: 1px 1px 10px white;
  margin: 1rem;
}

/* 태블릿 */
@media (max-width: 768px) {
  .answerButton {
    font-size: 1.25rem;
  }
  .answerButton button {
    padding: 0;
    font-size: 1rem;
  }
  .answerImg {
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px white;
    /* margin: 1rem; */
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .answerButton {
    font-size: 1rem;
    padding: 0;
    width: 80vw;
    box-shadow: 1px 1px 5px rgb(61, 94, 137);
  }
  .answerImg {
    width: 30vw;
    height: 25vh;
  }
}

@media (hover: hover) {
  .answerButton:hover {
    color: rgb(227, 232, 251);
    background-color: #c98474;
  }
}
