.mainBg {
  width: 100vw;
  background-image: url(../../contents/images/amusement_park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  justify-content: center;
}
.mainMusic {
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}
.mainContents {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  max-width: 750px;
  height: 100vh;
  margin: 0 auto;
  padding: 6.25rem 0;
}
.mainTitle h1,
.mainTitle h2 {
  font-family: "NexonMaplestory";
  font-weight: bold;
  font-size: 3.125rem;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}
.mainText {
  font-family: "NEXON Lv2 Gothic";
  letter-spacing: 0.0625rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.439);
  border-radius: 10px;
}
.mainText p {
  margin: 3px 0;
}

.footer {
  font-family: "NexonMaplestory";
}

.userCount {
  background: #ffffff5f;
  color: rgb(0, 0, 0);
  font-weight: 100;
  position: relative;
  text-align: center;
  padding: 15px 25px;
  border-radius: 5px;
  float: left;
  left: 50;
}

/* 모바일 */
@media (max-width: 768px) {
  .mainBg {
    background-position: 55%;
  }
  .mainMusic {
    padding: 10px;
    font-size: x-small;
  }
  .mainContents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .mainTitle {
    padding: 30px 0 70px 0;
    margin: 10px 0;
  }
  .mainTitle h1,
  .mainTitle h2 {
    font-size: 1.875rem;
    width: 100vw;
    letter-spacing: 1px;
    padding: 10px 0;
  }

  .mainText {
    font-size: 0.8rem;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.439);
    border-radius: 5px;
    padding: 10px 5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: "NEXON Lv2 Gothic";
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userCount {
    transform: translate(0);
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-bottom: 0;
    font-size: 0.8rem;
  }
}
