.callToActionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-family: "Ansungtangmyun";
}
.callToActionDiv p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-small;
}

.callToActionDiv input {
  background-color: #89d8d3;
  color: rgb(54, 47, 61);
  width: 78%;
  height: 7vh;
  margin-top: 15px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .callToActionDiv {
    width: 100%;
    margin: 0 auto;
    font-size: 8px;
  }
  .callToActionDiv p {
    display: none;
  }

  .callToActionDiv input {
    height: 5vh;
  }
}
